[worldserver]

###################################################################################################
#	Equipment Proficiency NPC
###################################################################################################

# Announce the module when the player logs in?
# default = 1
SubClassNPC.Announce = 1

# Enable random emotes for the NPC?
#default = 1
SubClassNPC.EnableAI= 1
